.header-logo{
    width: 1440px;
        height: 72px;
        gap: 0px;
        opacity: 0px;
}
.nav-logo{
    width: 1440px;
        height: 72px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
}
.div-logo{
    width: Hug (115px)px;
        height: Fixed (24px)px;
        top: 24px;
        left: 156px;
        gap: 0px;
        opacity: 0px;
}
.web-logo{

            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            background: #4D5AE5;
}
.studio-logo{

}